@tailwind base;
@tailwind components;
@tailwind utilities;

.page_not_found_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.nav_bar {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    font-weight: 500;
    background-color: #000;
    padding: 15px;
}

.nav_bar_item {
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

.active_nav_bar_item {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

.basics_of_motion {
    display: grid;
    place-content: center;
    height: calc(100vh - 64px);
    gap: 0.8rem;
}

.example_button {
    background: rgb(86, 1, 245);
    color: white;
    font-size: 1.8rem;
    border-radius: 0.4rem;
    border: none;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

.basics_of_motion_square {
    height: 180px;
    width: 180px;
    background: black;
}

.example_button_red {
    background: red;
    color: white;
    font-size: 1.8rem;
    border-radius: 0.4rem;
    border: none;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

.view_based_animations_container {
    height: 150vh;
}

.view_based_animations_box {
    height: 100vh;
    background-color: #000;
}

.view_based_animations_ref_div {
    height: 100vh;
}

.background-red {
    background-color: red;
    transition: 1s all;
}

.background-blue {
    background-color: blue;
    transition: 1s all;
}

.view_based_container {
    margin: auto;
    padding: 1.2rem;
    max-width: 700px;
}

.scroll_progress_bar {
    transform-origin: left;
    background-color: blue;
    position: fixed;
    top: 0;
    width: 100%;
    height: 12px;
}

.layered_parallax_image_full {
    background-image: url("/src/assets/images/layered-parallax-full.jpg");
    background-position: bottom;
    background-size: cover;
}

.layered_parallax_image_cropped {
    background-image: url("/src/assets/images/layered-parallax-cropped.png");
    background-position: bottom;
    background-size: cover;
}