.basics_of_motion {
    display: grid;
    place-content: center;
    height: 100vh;
    gap: 0.8rem;
}

.example_button {
    background: rgb(86, 1, 245);
    color: white;
    font-size: 1.8rem;
    border-radius: 0.4rem;
    border: none;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

.basics_of_motion_square {
    height: 180px;
    width: 180px;
    background: black;
}