.basics_of_motion {
    display: grid;
    place-content: center;
    height: 100vh;
    gap: 0.8rem;
}

.example_button {
    background: rgb(86, 1, 245);
    color: white;
    font-size: 1.8rem;
    border-radius: 0.4rem;
    border: none;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

.basics_of_motion_square {
    height: 180px;
    width: 180px;
    background: black;
}

.example_button_red {
    background: red;
    color: white;
    font-size: 1.8rem;
    border-radius: 0.4rem;
    border: none;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

.view_based_animations_container {
    height: 150vh;
}

.view_based_animations_box {
    height: 100vh;
    background-color: #000;
}

.view_based_animations_ref_div {
    height: 100vh;
}

.background-red {
    background-color: red;
    transition: 1s all;
}

.background-blue {
    background-color: blue;
    transition: 1s all;
}

.view_based_container {
    margin: auto;
    padding: 1.2rem;
    max-width: 700px;
}

.scroll_progress_bar {
    transform-origin: left;
    background-color: blue;
    position: fixed;
    top: 0;
    width: 100%;
    height: 12px;
}